<div class="card-category"><%= @restaurant.category %></div>
  <div class="card-description">
    <h2><%= @restaurant.name %></h2>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    </div>
    <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "button-white" %>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>
